/* IMPORTS ENCABEZADO Y FOOTER */
@import "estilos-principales/encabezado";
@import "estilos-principales/footer";


/* IMPORTS PAGES */
@import "style-pages/iniciar";
@import "style-pages/nosotros";
@import "style-pages/contacto";
@import "style-pages/complejos";
@import "style-pages/preguntasfrecuentes";





/* Estilo de la imagen */
img {
    max-width: 100%; 
    height: auto; 
    margin-bottom: 20px; 
}









/* Probando git */ 





















