body {
    font-family: sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    min-height: 70px;
    background-color: rgb(123, 204, 98);
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Agregado para mayor separación de los bordes */
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 75px;
    margin-right: 10px;
}

.nombre-marca {
    font-size: 1.5em; /* Tamaño de fuente para mejorar la legibilidad */
    color: black; /* Color del texto de la marca */
}

.nav-link {
    font-weight: 700;
    padding: 10px; /* Mejorado para que los enlaces sean más clicables */
}

.nav-link:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.2); /* Fondo claro al pasar el mouse */
    border-radius: 5px; /* Bordes redondeados para una mejor estética */
}

/* Media queries para hacer el menú responsive */
@media (max-width: 700px) {
    header {
        flex-direction: column;
        align-items: flex-start; /* Alineación a la izquierda */
        padding: 10px; /* Relleno superior e inferior */
    }

    nav {
        width: 100%; /* Para que el menú ocupe el ancho completo */
        padding: 10px 0; /* Espaciado superior e inferior */
    }

    .nav-link {
        padding: 10px 0; /* Espacio adicional entre los enlaces */
        width: 100%; /* Hacer que los enlaces ocupen todo el ancho */
        text-align: center; /* Centrar el texto en dispositivos móviles */
    }
}
